name: "Push derivations to cachix"
on:
  push:
    branches:
      - master
    paths:
      - 'flake.lock'
      - 'pkgs/**'
jobs:
  populate-cache:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Filter
      uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          lockfile:
            - 'flake.lock'
          packages:
            - 'pkgs/**'

    - name: Aggressive disk space removal
      uses: wimpysworld/nothing-but-nix@v6
      with:
        nix-permission-edict: true  

    - name: Install Nix
      uses: nixbuild/nix-quick-install-action@v34
      with:
        nix_version: 2.31.2
        nix_conf: |
          keep-env-derivations = true
          keep-outputs = true

    - name: Restore & Save Nix Store
      uses: nix-community/cache-nix-action@v6
      with:
        primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
        restore-prefixes-first-match: nix-${{ runner.os }}-
        gc-max-store-size-linux: 1G
        purge: true
        purge-prefixes: nix-${{ runner.os }}-
        purge-created: 0
        purge-last-accessed: P1DT12H
        purge-primary-key: never

    - name: Cachix
      uses: cachix/cachix-action@v15
      with:
        name: sumee
        authToken: '${{ secrets.CACHIX_AUTH }}'

    - name: Push flake inputs
      if: steps.filter.outputs.lockfile == 'true'
      run: nix flake archive --json | jq -r '.path,(.inputs|to_entries[].value.path)'

    - name: Push built derivations
      if: steps.filter.outputs.packages == 'true' || steps.filter.outputs.lockfile == 'true'
      run: nix run github:Mic92/nix-fast-build -- --no-nom --skip-cached
